body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	height: 100vh;
}
header {
	display: flex;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background-color: #8290ec;
	width: 100%;
	padding: 1rem 2rem;
}

ul {
	display: flex;
	gap: 1rem;
	list-style: none;
}

.navbar_logo-img {
	height: 40px;
	width: auto;
	display: block;
}

.welcome_container {
	justify-content: center;
	align-items: center;
	place-content: center;
	padding: 1rem;
}

.welcome_title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #160362;
}

.welcome_paragraph {
	text-align: center;
	font-size: 1.2rem;
	color: #160362;
}
.welcome_content {
	display: flex;
	place-content: center;
	align-items: center;
	gap: 2.5rem;

	padding: 2rem;
	flex-wrap: wrap;
}

.services_container {
	justify-content: center;
	align-items: center;
	place-content: center;
	padding: 1rem;
	background-color: #f0f0f0;
}

.services_title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #160362;
}

.services_paragraph {
	text-align: center;
	font-size: 1.2rem;
	color: #160362;
}
.services_content {
	display: flex;
	place-content: center;
	align-items: center;
	gap: 2.5rem;

	padding: 2rem;
	flex-wrap: wrap;
}

/* .services_title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #160362;
	margin-bottom: 1rem;
}

.services_paragraph {
	text-align: center;
	font-size: 1.2rem;
	color: #160362;
	padding: 0 4rem;
}

.services_container {
	justify-content: center;
	align-items: center;
	place-content: center;
	padding: 1rem;
}
.services_content {
	display: flex;
	place-content: center;
	align-items: center;
	gap: 2.5rem;

	padding: 2rem;
	flex-wrap: wrap;
}
.service_section {
	gap: 1rem;
	width: 50%;
} */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8290ec;
	color: #fff;
	height: 3rem;
}
